.contenedor {
    align-items: center;
    background-color: black;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.navegacion a:last-of-type {
    margin-right: 0px;
}

.navegacion a:hover {
    color: #71b100;
}

.imagen {
    background-size: cover;
    background-image: url(/Imagenes/Fortnite-New-Season-wallpaper.jpg);
    background-position: center center;
    height: 70vh;
}

.iconos {
    width: 55px;
    height: 55px;
}